/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

footer {
    max-width: 100%;
    min-height: 10em;
    background-color: #424242;
    color: #fff;
    padding: 1em 0;
}

main {
    min-height: 60em;
    margin-bottom: 4em;
    padding-top: 5em;
}

main ul {
    list-style: none;
}
